/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Container styles */
.container {
  display: flex;
}

/* Logo styles */
.logo {
  margin: 20px; /* Adjust as needed */
}

.logo img {
  width: 100px; /* Adjust as needed */
  height: auto;
}

/* Form wrapper styles */
.form-wrapper {
  margin: 20px; /* Adjust as needed */
  flex-grow: 1; /* Fill remaining space */
}

/* Form container styles */
.form-container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Form title styles */
.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form input styles */
.form-inputs label {
  display: block;
  margin-bottom: 5px;
}

.form-inputs input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Change styles on focus */
.form-inputs input[type="email"]:focus,
.form-inputs input[type="email"]:active {
  background-color: #fff;
  border-color: #ff385c;
}

/* Form actions styles */
.form-actions input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff385c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Form actions hover styles */
.form-actions input[type="submit"]:hover {
  background-color: #d82b52;
}

/* Responsive styles */
@media (max-width: 500px) {
  .form-wrapper {
    width: 90%;
  }
}
