body,p{
  margin: 0;
}

.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Gap between left and right cards */
  justify-content: center;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  width: 300px;
  height: 400px;
  background-color: #fff; /* Set card background color to white */
  border: 1px solid #ddd;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  margin: 0 10px 20px; /* Add spacing between cards */
  border-radius: 10px; /* Add border radius for rounded corners */
}

.card img {
  width: 100%; /* Set width to 100% */
  height: 300px; /* Set a fixed height */
  object-fit: cover; /* Ensure the image covers the entire space */
  margin-bottom: 10px;
  border-radius: 10px; /* Add border radius for rounded corners */
}

.card p {
  margin: 10px 0; /* Add space around text */
  line-height: 1px; /* Change line height */
}

.heart-icon {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  cursor: pointer;
  font-size: 24px; /* Increase the heart size */
  border: 1px solid transparent; /* Initial border */
  border-radius: 50%; /* Make it circular */
}

.title {
  font-weight: bold;
  color: #000;
}

.location_distance {
  color: #3b3a3a;
}

.price_per_night {
  font-weight: bold;
  color: #000;
}

a {
  text-decoration: none; /* Remove underline from links */
  color:#000;
}

.image-carousel {
  display: flex; /* 使用 flex 布局 */
  overflow-x: auto; /* 水平滚动 */
  scroll-snap-type: x mandatory; /* 开启水平滚动分页效果 */
  -webkit-overflow-scrolling: touch; /* 启用平滑滚动 */
}

.carousel-image {
  flex: 0 0 auto; /* 禁止图片缩放 */
  scroll-snap-align: start; /* 图片对齐到滚动容器的开头 */
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
